@import "_vars.scss";
@import "640.scss";
@import "980.scss";
@import "1200.scss";

.navigation {
  width: $mobileS;
  background-color: #373c3f;
  font-family: $Lato;
  // margin-bottom: 4px;
}

.header__container {
  display: flex;
  height: 37px;
  
}

.navigation__title {
  font-size: 14px;
  color: $white;
  padding-top: 8px;
  margin: 0px 0px 13px 17px;
}

.fa-bars {
  color: $white;
  background-color: #202529;
  margin-left: 194px;
  width: 41px;
  text-align: center;
  vertical-align: 50%;
  padding-top: 10px;
  cursor: pointer;
  height: 27px;
}

.fa-times {
  color: $white;
  margin-left: 194px;
  width: 41px;
  padding-top: 10px;
  cursor: pointer;
  height: 41px;
  background-color: #202529;
  text-align: center;
}

.fa-2x {
  visibility: hidden;
}

.navigation__items-hidden {
  visibility: hidden;
  // display: none;
}

.navigation__container {
  height: 173px;
  width: $mobileS;
  font-family: $Lato;
  background: url("../images/320/header_bg_320.png") no-repeat center;
}

.navigation__text {
  color: $white;
  font-size: 16px;
  font-weight: 700;
  margin: 0px 0px 6px 20px;
  padding-top: 13px;
  line-height: 22px;
}

.navigation__text-link {
  color: #93bdc5;
  margin-left: 20px;
  font-size: 14px;
}

.navigation__items {
  height: 161px;
  display: block;
  z-index: 100;
  position: relative;
  right: 182px;
  top: 37px;
}

.navigation__item:nth-child(even)  {
  background-color: #f5f5f5;
}

.navigation__logo{
  display: none;
}

.navigation__item {
  background-color: $white;
  width: 170px;
  font-size: 12px;
  padding-top: 9px;
  padding-bottom: 0px;
  padding-left: 12px;
  height: 22px;
  cursor: pointer;
}

.selected {
  background-color: #f5f5f5;
}

.buttons-bar {
  width: $mobileS;
  font-family: $Lato;
}

.buttons-bar__delivery {
  background: url('../images/320/pizza_delivery_bg_320.png');
}

.buttons-bar__salads {
  background: url('../images/320/ua_ux_salads_bg_320.png');
}

.buttons-bar__desserts {
  background: url('../images/320/desserts_bg_320.png') ;
}

.buttons-bar__container {
  display: grid;
  grid-template-columns: 249px 71px;
}

.buttons-bar__title {
  width: 249px;
  height: 20px;
  padding: 27.5px 0;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 1px;
  color: $white;
  font-size: 20px;
  font-weight: bold;
}

.buttons-bar__action {
  display: inline-block;
  align-items: center;
  width: 71px;
  padding: 30px 0;
  background-color: $green;
  color: $white;
  cursor: pointer;
  margin-bottom: 1px;
  margin-right: 20px;
  height: 75px;
}

.buttons-bar--arrow-icon {
  position: relative;
}

.buttons-bar__action ::before {
  content: "";
  position: absolute;
  bottom: -1.5px;
  right: 2px;
  border-top: 2px solid $white;
  border-right: 2px solid $white;
  height: 5px;
  width: 5px;
  transform: rotate(45deg);
}

.pre-menu {
  font-family: $Lato;
  width: $mobileS;
  display: block;
}

.pre-menu__logo-container,
.pre-menu-logo {
  display: none;
}

.pre-menu__text-container {
  margin-top: 24px;
  margin-bottom: 12px;
}

.pre-menu__text {
  font-size: 20px;
  margin-left: 6px;
}

.pre-menu__sub-text {
 
  font-size: 10px;
  color: #e7e7e8;
  margin-left: 8px;
  margin-top: 3px;


}

.menu__subtitle-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.menu {
  width: $mobileS;
  font-family: $Lato;
}

.menu__title-dark {
  padding: 9px 0px 9px 16.5px;
  background-color: #3f4043;
  color: $green;
  font-size: 19px;
  letter-spacing: 0.8px;
  // line-height: 32px;
  // height: 37px;
}

.menu__subtitle {
  margin: 15px 20px 0px 14px;
  width: 270px;
  font-weight: 400;
  font-size: 16px;
}

.large {
  display: none;
}
.menu__large-icon {
  display: none;
}

.menu__small-icon {
  margin-top: 15px;
  margin-right: 20px;
  display: block;
}

.menu__item {
//  position: relative;
  display: flex;
  justify-content: space-between;
  // margin-top: 11px;
}

.menu__item--title::before {
  content: "";
  // position: absolute;
  // top: 5px;
  margin-right: 8px;
  vertical-align: 2px;
  height: 3px;
  width: 3px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.menu__item--title {
  font-size: 14px;
  // margin-bottom: 2px;
  margin-left: 12px;
  margin-top: 5px;
}

.menu__item-price {
  display: inline-block;
  align-items: right ;
  font-weight: bold;
  font-size: 14px;
  margin-right: 17px;
  margin-top: 5px;
}

.menu__item-description {
  font-size: 9px;
  text-align: justify;
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-right: 17px;
  line-height: 9.4px
}

.fa-lg {
  color: $green;
}

.menu__title-light {
  margin-top: 31px;
  padding: 0.4em 0px 9px 16.5px;
  background-color: $green;
  color: $white;
  font-size: 19px;
  letter-spacing: 0.8px;
}

.footer {
  width: $mobileS;
  margin-top: 49px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: $green; 
}

.footer__logo {
  display: none;
}

.footer__text {
  text-align: center;
  line-height: 18px;
  font-family: $Montserrat;
  color: $white;
  font-size: 12px;
  display: block;
}