@import "_vars.scss";
@import "_mixins.scss";
@import "640.scss";
@import "980.scss";
@import "1200.scss";

.navigation {
  min-width: $mobileS;
  background-color: #373c3f;
  font-family: $Lato;
  // margin-bottom: 4px;
}

.header__container {
  display: flex;
  height: 37px;
  justify-content: space-between;
  
}

.navigation__title {
  font-size: 14px;
  color: $white;
  padding-top: 8px;
  margin: 0px 0px 13px 17px;
}

.fa-bars {
  color: $white;
  background-color: #202529;
  // margin-left: 194px;
  width: 41px;
  text-align: center;
  // vertical-align: 50%;
  padding-top: 10px;
  cursor: pointer;
  height: 27px;
}

.fa-times {
  color: $white;
  // margin-left: 194px;
  width: 41px;
  padding-top: 10px;
  cursor: pointer;
  height: 41px;
  background-color: #202529;
  text-align: center;
}

.fa-2x {
  visibility: hidden;
}

.navigation__items-hidden {
  visibility: hidden;
  // display: none;
}

.navigation__container {
  height: 173px;
  min-width: $mobileS;
  font-family: $Lato;
  background: url("../images/320/pizza_header_320.png");
  @include bg__setup

}

.navigation__text {
  color: $white;
  font-size: 16px;
  font-weight: 700;
  margin: 0px 0px 6px 20px;
  padding-top: 13px;
  line-height: 22px;
}

.navigation__text-link {
  color: #93bdc5;
  margin-left: 20px;
  font-size: 14px;
}

.navigation__items {
  height: 161px;
  display: block;
  z-index: 100;
  position: relative;
  right: 182px;
  top: 37px;
}

.navigation__item:nth-child(even)  {
  background-color: #f5f5f5;
}

.navigation__logo{
  display: none;
}

.navigation__item {
  background-color: $white;
  width: 170px;
  font-size: 12px;
  padding-top: 9px;
  padding-bottom: 0px;
  padding-left: 12px;
  height: 22px;
  cursor: pointer;
}

.selected {
  background-color: #f5f5f5;
}

.buttons-bar {
  // min-width: $mobileS;
  font-family: $Lato;
}

.buttons-bar__left-part {
  width: 78%;
}

.buttons-bar__delivery-title {
  background: url('../images/320/pizza_320.png');
  @include bg__setup;
}

.buttons-bar__delivery-title {
  padding: 10% 0 12% 25%;
}

.buttons-bar__salads-title {
  background: url('../images/320/salads_320.png');
  @include bg__setup;
}

.buttons-bar__salad--title {
  padding: 11% 0 11% 30%;
}

.buttons-bar__desserts-title {
  background: url('../images/320/desserts_320.png');
  @include bg__setup;
}

.buttons-bar__dessert--title {
  padding: 11% 0 11% 33.5%;
}

.buttons-bar__container {
  display: flex;
  text-decoration: none;
  color: $white;
  margin-top:1px;
  flex-grow: 1;
}

.buttons-bar__title {
  color: $white;
  font-size: 20px;
  font-weight: 700;
  padding: 24px 0 31px 63px;

}

.buttons-bar__action {
  background-color: $green;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-bar--arrow-icon {
  border: solid $white;
  border-width: 0 2px 2px 0;
  padding: 5%;
  margin-right: 11px;
  transform: rotate(-45deg)
}

// .buttons-bar__action ::before {
//   content: "";
//   position: absolute;
//   bottom: -1.5px;
//   right: 2px;
//   border-top: 2px solid $white;
//   border-right: 2px solid $white;
//   height: 5px;
//   width: 5px;
//   transform: rotate(45deg);
// }

.pre-menu {
  font-family: $Lato;
  min-width: $mobileS;
  display: block;
}

.pre-menu__logo-container,
.pre-menu-logo {
  display: none;
}

.pre-menu__text-container {
  margin-top: 24px;
  margin-bottom: 12px;
}

.pre-menu__text {
  font-size: 20px;
  margin-left: 6px;
}

.pre-menu__sub-text {
 
  font-size: 10px;
  color: #e7e7e8;
  margin-left: 8px;
  margin-top: 3px;


}

.menu__subtitle-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.menu {
  min-width: $mobileS;
  font-family: $Lato;
}

.menu__title-dark {
  padding: 9px 0px 9px 16.5px;
  background-color: #3f4043;
  color: $green;
  font-size: 19px;
  letter-spacing: 0.8px;
  // line-height: 32px;
  // height: 37px;
}

.menu__subtitle {
  margin: 15px 20px 0px 14px;
  width: 270px;
  font-weight: 400;
  font-size: 16px;
}

.large {
  display: none;
}
.menu__large-icon {
  display: none;
}

.menu__small-icon {
  margin-top: 15px;
  margin-right: 20px;
  display: block;
}

.menu__item {
//  position: relative;
  display: flex;
  justify-content: space-between;
  // margin-top: 11px;
}

.menu__item--title::before {
  content: "";
  // position: absolute;
  // top: 5px;
  margin-right: 8px;
  vertical-align: 2px;
  height: 3px;
  width: 3px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.menu__item--title {
  font-size: 14px;
  // margin-bottom: 2px;
  margin-left: 12px;
  margin-top: 5px;
}

.menu__item-price {
  display: inline-block;
  align-items: right ;
  font-weight: bold;
  font-size: 14px;
  margin-right: 17px;
  margin-top: 5px;
}

.menu__item-description {
  font-size: 9px;
  text-align: justify;
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-right: 17px;
  line-height: 9.4px
}

.fa-lg {
  color: $green;
}

.menu__title-light {
  margin-top: 31px;
  padding: 0.4em 0px 9px 16.5px;
  background-color: $green;
  color: $white;
  font-size: 19px;
  letter-spacing: 0.8px;
}

.footer {
  margin-top: 49px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: $green; 
}

.footer__logo {
  display: none;
}

.footer__text {
  text-align: center;
  line-height: 18px;
  font-family: $Montserrat;
  color: $white;
  font-size: 12px;
  display: block;
}