@media screen and (min-width: 1200px) {
  .navigation {
    width: 100%;
    margin: 0 auto;
  }
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navigation__items {
    width: 600px;
    height: 11px;
    margin-left: 32px;
    padding-top: 39px;
    padding-bottom: 46px;
  }
  .navigation__logo {
    margin-right: 38px;
    margin-left: 0px;
  }
  .navigation__text {
    font-size: 60px;
    margin: 0px 0px 52px 35px;
    padding-top: 50px;
  }
  .navigation__text-link {
    margin-left: 35px;
    font-size: 40px;
  }
  .navigation__container {
    height: 649px;
    width: 100%;
    background: url("../images/1200/header_bg_1200.png");
    background-position: center;
    background-size: cover;
  }
  .buttons-bar {
    width: 100%;
    justify-content: stretch;
  }
  .buttons-bar__container {
    width: 100%;
  }
  .buttons-bar__title {
    padding-top: 176px;
    padding-bottom: 184px;
    font-size: 41px;
    width: 100%;
  }
  .buttons-bar__delivery {
    background: url("../images/1200/pizza_delivery_bg_1200.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .buttons-bar__salads {
    background: url("../images/1200/ua_ux_salads_bg_1200.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .buttons-bar__desserts {
    background: url("../images/1200/desserts_bg_1200.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pre-menu {
    width: 100%;
  }
  .pre-menu__text-container {
    margin-left: 0px;
  }
  .pre-menu__logo-container {
    margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 45px;
  }
  .pre-menu__text {
    margin-left: 20px;
    margin-bottom: 7px;
    font-size: 38px;
  }
  .pre-menu__sub-text {
    margin-left: 22px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .menu__title-dark {
    padding: 20px 0px 23px 14px;
    width: 100%;
    font-size: 38px;
  }
  .menu__title-light {
    padding: 20px 0px 23px 14px;
    width: 100%;
    font-size: 38px;
  }
  .menu__subtitle-container {
    margin-bottom: 30px;
    margin-right: 0px;
    width: 100%;
  }
  .menu__subtitle {
    font-size: 30px;
    width: 440px;
  }
  .menu__large-icon {
    margin-right: 17px;
  }
  .menu__item-price {
    font-size: 26px;
    margin-right: 17px;
    margin-top: 0px;
  }
  .menu__item-description {
    font-size: 16px;
    text-align: justify;
    margin-left: 19px;
    margin-top: 17px;
    margin-bottom: 22px;
    margin-right: 17px;
  }
  .footer {
    width: 100%;
    padding: 22px 0px;
    margin-top: 100px;
  }
  .footer__logo {
    margin-left: 37px;
  }
  .footer__text {
    margin-right: 19px;
  }
}
