@media screen and (min-width: 640px) {
  .navigation {
    width: 640px;
  }
  .header__container {
    height: 74px;
  }
  .navigation__logo {
    display: none;
  }
  .navigation__title {
    font-size: 28px;
    padding-top: 20px;
    margin: 0px 0px 26px 28px;
  }
  .fa-bars {
    margin-left: 395px;
    width: 82px;
    padding-top: 20px;
  }
  .navigation__container {
    height: 346px;
    width: 640px;
    background: url("../images/640/header_bg_640.png") no-repeat center;
    margin-bottom: 5px;
  }
  .navigation__text {
    font-size: 32px;
    margin: 0px 0px 22px 40px;
    padding-top: 38px;
  }
  .navigation__text-link {
    color: #93bdc5;
    margin-left: 40px;
    font-size: 28px;
  }
  .buttons-bar {
    width: 640px;
  }
  .buttons-bar__delivery {
    background: url("../images/640/pizza_delivery_bg_640.png");
  }
  .buttons-bar__salads {
    background: url("../images/640/ua_ux_salads_bg_640.png");
  }
  .buttons-bar__desserts {
    background: url("../images/640/desserts_bg_640.png");
  }
  .buttons-bar__container {
    display: grid;
    grid-template-columns: 498px 142px;
  }
  .buttons-bar__title {
    width: 498px;
    height: 40px;
    padding: 55px 0;
    margin-bottom: 1px;
    font-size: 40px;
  }
  .buttons-bar__action {
    width: 142px;
    padding: 60px 0;
    margin-bottom: 1px;
    margin-right: 40px;
    height: 150px;
  }
  .buttons-bar__action ::before {
    content: "";
    position: absolute;
    bottom: -3px;
    right: 2px;
    border-top: 4px solid #fff;
    border-right: 4px solid #fff;
    height: 10px;
    width: 10px;
  }
  .pre-menu {
    width: 640px;
    display: block;
  }
  .pre-menu__logo-container,
  .pre-menu-logo {
    display: none;
  }
  .pre-menu__text-container {
    margin-top: 41px;
    margin-bottom: 20px;
  }
  .pre-menu__text {
    font-size: 40px;
    margin-left: 17px;
    margin-bottom: 4px;
  }
  .pre-menu__sub-text {
    font-size: 20px;
    margin-left: 17px;
  }
  .menu__subtitle-container {
    margin-bottom: 25px;
  }
  .menu {
    width: 640px;
  }
  .menu__title-dark {
    padding: 19px 0px 18px 33px;
    background-color: #3f4043;
    color: #a5cea6;
    font-size: 38px;
    letter-spacing: 1.6px;
  }
  .menu__subtitle {
    margin: 32px 32px 0px 33px;
    width: 480px;
    font-size: 30px;
    font-weight: 400;
  }
  .menu__small-icon {
    display: none;
  }
  .menu__large-icon {
    display: block;
    margin-top: 28px;
    margin-right: 42px;
    color: #a5cea6;
  }
  .menu__item--title::before {
    content: "";
    margin-right: 5px;
    height: 3px;
    width: 3px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    vertical-align: 30%;
  }
  .menu__item--title {
    font-size: 28px;
    margin-top: 8px;
    margin-left: 34px;
  }
  .menu__item-price {
    font-size: 28px;
    margin-right: 34px;
    margin-top: 0px;
  }
  .menu__item-description {
    font-size: 18px;
    margin-left: 32px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 34px;
  }
  .menu__title-light {
    padding: 19px 0px 18px 33px;
    font-size: 38px;
    letter-spacing: 1.6px;
    margin-top: 40px;
  }
  .footer {
    width: 640px;
    margin-top: 117px;
    height: 97px;
  }
  .footer__logo {
    display: none;
  }
  .footer__text {
    text-align: center;
    line-height: 22px;
    font-size: 18px;
    display: block;
  }
}

@media screen and (min-width: 980px) {
  .navigation {
    width: 980px;
  }
  .header__container {
    height: 97px;
  }
  .navigation__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #373c3f;
    width: 680px;
    height: 11px;
    margin-left: 30px;
    padding: 43px 0;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    top: 0px;
    right: 0px;
  }
  .navigation__item:nth-child(even) {
    background-color: #373c3f;
  }
  .navigation__items-hidden {
    visibility: visible;
  }
  .navigation__logo {
    display: block;
    margin-left: 136px;
    height: 85px;
    margin-top: 6px;
  }
  .navigation__item {
    background-color: #373c3f;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .navigation__title,
  .navigation__icons-container,
  .fa-bars {
    display: none;
  }
  .navigation__container {
    height: 530px;
    width: 980px;
    font-family: "Lato", sans-serif;
    background: url("../images/980/header_bg_980.png") no-repeat center;
  }
  .navigation__text {
    font-size: 54px;
    margin: 0px 0px 40px 39px;
    padding-top: 68px;
  }
  .navigation__text-link {
    color: #93bdc5;
    margin-left: 40px;
    font-size: 44px;
  }
  .buttons-bar {
    width: 980px;
    font-family: "Lato", sans-serif;
  }
  .buttons-bar {
    display: flex;
    flex-direction: row;
  }
  .buttons-bar__container {
    display: flex;
    flex-direction: row;
    width: 327px;
  }
  .buttons-bar__title {
    padding: 143px 0;
    text-align: center;
    font-size: 37px;
  }
  .buttons-bar__action {
    visibility: hidden;
    display: none;
  }
  .buttons-bar__delivery {
    background: url("../images/980/pizza_delivery_bg_980.png");
  }
  .buttons-bar__salads {
    background: url("../images/980/ua_ux_salads_bg_980.png");
  }
  .buttons-bar__desserts {
    background: url("../images/980/desserts_bg_980.png");
  }
  .pre-menu {
    width: 980px;
    display: flex;
    justify-content: space-between;
  }
  .pre-menu__text-container {
    display: block;
    margin-top: 68px;
    margin-bottom: 21px;
    margin-left: 10px;
  }
  .pre-menu__logo-container {
    margin-right: 29px;
    margin-top: 50px;
    display: block;
  }
  .pre-menu-logo {
    display: block;
  }
  .pre-menu__text {
    margin-top: 0px;
    font-size: 34px;
  }
  .pre-menu__sub-text {
    margin-bottom: 0px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    width: 980px;
  }
  .menu__title-dark {
    padding: 27px 0px 23px 18px;
    letter-spacing: 0.8px;
    width: 475px;
    font-size: 32px;
  }
  .menu__subtitle-container {
    margin-bottom: 30px;
    margin-right: 0px;
    width: 480px;
  }
  .menu__subtitle {
    margin: 30px 0px 0px 19px;
    width: 390px;
    font-weight: 400;
    font-size: 24px;
  }
  .small {
    display: none;
  }
  .menu__small-icon {
    display: none;
  }
  .menu__large-icon {
    margin-right: 0px;
  }
  .menu__item--title {
    font-size: 24px;
    margin-left: 18px;
    margin-top: 0px;
  }
  .menu__item-price {
    font-size: 24px;
    margin-right: 17px;
    margin-top: 0px;
  }
  .menu__item-description {
    font-size: 16px;
    text-align: justify;
    margin-left: 23px;
    margin-top: 12px;
    margin-bottom: 22px;
    margin-right: 17px;
  }
  .menu__title-light {
    margin-top: 0px;
    padding: 27px 0px 23px 18px;
    letter-spacing: 0.8px;
    width: 464px;
    font-size: 32px;
  }
  .footer {
    width: 980px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    padding: 22px 0px;
  }
  .footer__logo {
    display: block;
    height: 85px;
    margin-top: 6px;
    margin-left: 30px;
  }
  .footer__text {
    line-height: 18px;
    font-size: 18px;
    display: inline-block;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    width: 100%;
    margin: 0 auto;
  }
  .header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .navigation__items {
    height: 11px;
    margin-left: 32px;
    padding-top: 39px;
    padding-bottom: 46px;
  }
  .navigation__logo {
    margin-right: 38px;
    margin-left: 0px;
  }
  .navigation__text {
    font-size: 60px;
    margin: 0px 0px 52px 35px;
    padding-top: 50px;
  }
  .navigation__text-link {
    margin-left: 35px;
    font-size: 40px;
  }
  .navigation__container {
    height: 649px;
    width: 100%;
    background: url("../images/1200/header_bg_1200.png");
    background-position: center;
    background-size: cover;
  }
  .buttons-bar {
    width: 100%;
    justify-content: stretch;
  }
  .buttons-bar__container {
    width: 100%;
  }
  .buttons-bar__title {
    padding-top: 176px;
    padding-bottom: 184px;
    font-size: 41px;
    width: 100%;
  }
  .buttons-bar__delivery {
    background: url("../images/1200/pizza_delivery_bg_1200.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .buttons-bar__salads {
    background: url("../images/1200/ua_ux_salads_bg_1200.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .buttons-bar__desserts {
    background: url("../images/1200/desserts_bg_1200.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .pre-menu {
    width: 100%;
  }
  .pre-menu__text-container {
    margin-left: 0px;
  }
  .pre-menu__logo-container {
    margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 45px;
  }
  .pre-menu__text {
    margin-left: 20px;
    margin-bottom: 7px;
    font-size: 38px;
  }
  .pre-menu__sub-text {
    margin-left: 22px;
  }
  .menu {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .menu__title-dark {
    padding: 20px 0px 23px 14px;
    width: 100%;
    font-size: 38px;
  }
  .menu__title-light {
    padding: 20px 0px 23px 14px;
    width: 100%;
    font-size: 38px;
  }
  .menu__subtitle-container {
    margin-bottom: 30px;
    margin-right: 0px;
    width: 100%;
  }
  .menu__subtitle {
    font-size: 30px;
    width: 440px;
  }
  .menu__large-icon {
    margin-right: 17px;
  }
  .menu__item-price {
    font-size: 26px;
    margin-right: 17px;
    margin-top: 0px;
  }
  .menu__item-description {
    font-size: 16px;
    text-align: justify;
    margin-left: 19px;
    margin-top: 17px;
    margin-bottom: 22px;
    margin-right: 17px;
  }
  .footer {
    width: 100%;
    padding: 22px 0px;
    margin-top: 100px;
  }
  .footer__logo {
    margin-left: 37px;
  }
  .footer__text {
    margin-right: 19px;
  }
}

.navigation {
  width: 320px;
  background-color: #373c3f;
  font-family: "Lato", sans-serif;
}

.header__container {
  display: flex;
  height: 37px;
}

.navigation__title {
  font-size: 14px;
  color: #fff;
  padding-top: 10px;
  margin: 0px 0px 13px 14px;
}

.fa-bars {
  color: #fff;
  background-color: #202529;
  margin-left: 198px;
  width: 41px;
  text-align: center;
  vertical-align: 50%;
  padding-top: 10px;
  cursor: pointer;
  height: 28px;
}

.fa-times {
  color: #fff;
  margin-left: 198px;
  width: 41px;
  padding-top: 10px;
  cursor: pointer;
  height: 41px;
  background-color: #202529;
  text-align: center;
}

.fa-2x {
  visibility: hidden;
}

.navigation__items-hidden {
  visibility: hidden;
}

.navigation__container {
  height: 173px;
  width: 320px;
  background: url("../images/320/header_bg_320.png") no-repeat center;
}

.navigation__text {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin: 0px 0px 11px 20px;
  padding-top: 19px;
}

.navigation__text-link {
  color: #93bdc5;
  margin-left: 20px;
  font-size: 14px;
}

.navigation__items {
  height: 161px;
  width: 171px;
  display: block;
  z-index: 100;
  position: relative;
  right: 182px;
  top: 40px;
}

.navigation__item:nth-child(even) {
  background-color: #f5f5f5;
}

.navigation__logo {
  display: none;
}

.navigation__item {
  background-color: #fff;
  width: 171px;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 11px;
  height: 22px;
}

.selected {
  background-color: #f5f5f5;
}

.buttons-bar {
  width: 320px;
  font-family: "Lato", sans-serif;
}

.buttons-bar__delivery {
  background: url("../images/320/pizza_delivery_bg_320.png");
}

.buttons-bar__salads {
  background: url("../images/320/ua_ux_salads_bg_320.png");
}

.buttons-bar__desserts {
  background: url("../images/320/desserts_bg_320.png");
}

.buttons-bar__container {
  display: grid;
  grid-template-columns: 249px 71px;
}

.buttons-bar__title {
  width: 249px;
  height: 20px;
  padding: 27.5px 0;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 1px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.buttons-bar__action {
  display: inline-block;
  align-items: center;
  width: 71px;
  padding: 30px 0;
  background-color: #a5cea6;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1px;
  margin-right: 20px;
  height: 75px;
}

.buttons-bar--arrow-icon {
  position: relative;
}

.buttons-bar__action ::before {
  content: "";
  position: absolute;
  bottom: -1.5px;
  right: 2px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  height: 5px;
  width: 5px;
  transform: rotate(45deg);
}

.pre-menu {
  font-family: "Lato", sans-serif;
  width: 320px;
  display: block;
}

.pre-menu__logo-container,
.pre-menu-logo {
  display: none;
}

.pre-menu__text-container {
  margin-top: 22px;
  margin-bottom: 20px;
}

.pre-menu__text {
  font-size: 20px;
  margin-left: 8px;
  margin-bottom: 2px;
}

.pre-menu__sub-text {
  text-align: center;
  font-size: 10px;
  color: #e7e7e8;
  margin-left: 8px;
  text-align: left;
}

.menu__subtitle-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.menu {
  width: 320px;
  font-family: "Lato", sans-serif;
}

.menu__title-dark {
  padding: 9.5px 0px 9px 16.5px;
  background-color: #3f4043;
  color: #a5cea6;
  font-size: 19px;
  letter-spacing: 0.8px;
}

.menu__subtitle {
  margin: 16px 20px 0px 14px;
  width: 270px;
  font-weight: 400;
  font-size: 18px;
}

.large {
  display: none;
}

.menu__large-icon {
  display: none;
}

.menu__small-icon {
  margin-top: 16px;
  margin-right: 20px;
  display: block;
}

.menu__item {
  display: flex;
  justify-content: space-between;
}

.menu__item--title::before {
  content: "";
  margin-right: 8px;
  vertical-align: 2px;
  height: 3px;
  width: 3px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.menu__item--title {
  font-size: 14px;
  margin-left: 15px;
  margin-top: 5px;
}

.menu__item-price {
  display: inline-block;
  align-items: right;
  font-weight: bold;
  font-size: 14px;
  margin-right: 17px;
  margin-top: 5px;
}

.menu__item-description {
  font-size: 9px;
  text-align: justify;
  margin-left: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
  margin-right: 17px;
}

.fa-lg {
  color: #a5cea6;
}

.menu__title-light {
  margin-top: 35px;
  padding: 9.5px 0px 9px 16.5px;
  background-color: #a5cea6;
  color: #fff;
  font-size: 19px;
  letter-spacing: 0.8px;
}

.footer {
  width: 320px;
  margin-top: 49px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: #a5cea6;
}

.footer__logo {
  display: none;
}

.footer__text {
  text-align: center;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 12px;
  display: block;
}
