.navigation {
  width: 320px;
  background-color: #373c3f;
  font-family: "Lato", sans-serif;
  margin-bottom: 4px;
}

.header__container {
  display: flex;
  height: 37px;
}

.navigation__title {
  font-size: 14px;
  color: #fff;
  padding-top: 10px;
  margin: 0px 0px 13px 14px;
}

.fa-bars {
  color: #fff;
  background-color: #202529;
  margin-left: 198px;
  width: 41px;
  text-align: center;
  vertical-align: 50%;
  padding-top: 10px;
  cursor: pointer;
}

.fa-times {
  visibility: hidden;
}

.navigation__container {
  height: 173px;
  width: 320px;
  background: url("../images/320/header_bg_320.png") no-repeat center;
}

.navigation__text {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  margin: 0px 0px 11px 20px;
  padding-top: 19px;
}

.navigation__text-link {
  color: #93bdc5;
  margin-left: 20px;
  font-size: 14px;
}

.navigation__items {
  height: 182px;
  width: 161px;
  display: none;
}

.navigation__item {
  background-color: white;
}

.selected {
  background-color: #f5f5f5;
}

.buttons-bar {
  width: 320px;
  font-family: "Lato", sans-serif;
}

.buttons-bar__delivery {
  background: url("../images/320/pizza_delivery_bg_320.png");
}

.buttons-bar__salads {
  background: url("../images/320/ua_ux_salads_bg_320.png");
}

.buttons-bar__desserts {
  background: url("../images/320/desserts_bg_320.png");
}

.buttons-bar__container {
  display: grid;
  grid-template-columns: 249px 71px;
}

.buttons-bar__title {
  width: 249px;
  height: 20px;
  padding: 27.5px 0;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 1px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.buttons-bar__action {
  display: inline-block;
  align-items: center;
  width: 71px;
  padding: 30px 0;
  background-color: #a5cea6;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1px;
  margin-right: 20px;
  height: 75px;
}

.buttons-bar--arrow-icon {
  position: relative;
}

.buttons-bar__action ::before {
  content: "";
  position: absolute;
  bottom: -1.5px;
  right: 2px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  height: 5px;
  width: 5px;
  transform: rotate(45deg);
}

.pre-menu {
  font-family: "Lato", sans-serif;
}

.pre-menu__text {
  font-size: 20px;
  margin-left: 8px;
  margin-top: 22px;
  margin-bottom: 2px;
}

.pre-menu__sub-text {
  text-align: center;
  font-size: 10px;
  color: #e7e7e8;
  margin-bottom: 10px;
  margin-left: 8px;
  text-align: left;
}

.menu__subtitle-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.menu {
  width: 320px;
  font-family: "Lato", sans-serif;
}

.menu__title-dark {
  padding: 9.5px 0px 9px 16.5px;
  background-color: #3f4043;
  color: #a5cea6;
  font-size: 19px;
  letter-spacing: 0.8px;
}

.menu__subtitle {
  margin: 16px 20px 0px 14px;
  width: 240px;
  font-weight: 400;
}

.fa-lg {
  margin-top: 16px;
  margin-right: 20px;
}

.menu__item {
  display: flex;
  justify-content: space-between;
}

.menu__item--title::before {
  content: ".";
  margin-right: 5px;
  vertical-align: 5px;
  color: 10px solid black;
}

.menu__item--title {
  font-size: 14px;
  margin-bottom: 2px;
  margin-left: 15px;
}

.menu__item-price {
  display: inline-block;
  align-items: right;
  font-weight: bold;
  font-size: 14px;
  margin-right: 17px;
  margin-top: 5px;
}

.menu__item-description {
  font-size: 9px;
  text-align: justify;
  margin-left: 16px;
  margin-top: 7px;
  margin-bottom: 5px;
  margin-right: 17px;
}

.fa-lg {
  color: #a5cea6;
}

.menu__title-light {
  padding: 12px 0;
  padding-left: 16px;
  background-color: #a5cea6;
  color: #fff;
  font-size: 16px;
  margin-top: 29px;
}

.footer {
  width: 320px;
  margin-top: 49px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: #a5cea6;
}

.footer__text {
  text-align: center;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 12px;
  display: block;
}
