.btn {
  width: 200px;
  height: 30px;
  cursor: pointer;
  outline: none;

  &.close {
    color: black;
    width: 20px;
    height: 20px;
    border-radius: 0%;
    font-size: 1rem;
    background-color: #d44637;
    color: #fff;
    border: none;
  }

  &.dialog-btn {
    width: 100px;
    border-radius: 5px;
    height: 43px;
    width: 103px;
    font-size: 15px;
    color: #ffffff;
    background-color: #b3382c;
    margin: 0 5px;
    border: none;
  }
}
