@import url("https://use.typekit.net/bqw2tbb.css");

@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Myriad Pro Regular'), url('MYRIADPRO-REGULAR.woff') format('woff');
  }

.all_content {
  width: 1280px;
  margin: 0 auto;
  font-family: 'Myriad Pro Regular', sans-serif;
}

.name_logo {
  display: inline-block;
  text-decoration: none;
  font-size: 80px;
  color: #000000;
  margin-top: 60px;
  margin-bottom: 45px;
}

.nav {
  background-color: #35444f;
  text-align: center;
}

.nav_item {
  color: #ffffff; 
  display: inline-block;
  font-size: 24px;
  padding:23px 40px;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.nav_item:hover{
  background-color: #222f3a;
  border-left: 1px solid #818181;
  border-right: 1px solid #818181;
  cursor: pointer;
}

 .sidebar {
  display: inline-block ;
  border: 1px solid #35444f;
  margin-top: 50px;
  width: 344px;
 }

.sidebar_item {
  padding: 25px 0 25px 45px;
  font-size: 29px;
  color: #6d7982;
}

.sidebar_item:hover{
  padding-left: 70px;
  color: black;
  background-color: #dbdbdb;
  border-left: 1px solid;
}

.content_container {
  display: inline-block;
  width: 885px;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 43px;
  margin-bottom: 20px;
}

.img_container {
  display: inline-block;
  height: 530px;
  margin-bottom: 50px;
  border: 1px solid #6d7982;
}

.img_content {
  padding: 75px 297px  73px 268px;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform .5s ease;
}

.img_container:hover .img_content {
  transform: scale(1.2)
}

.text_container {
  text-align: justify;
}

.text_content {
  font-size: 18px;
  padding: 0 30px;;
  color: #2c2c2c;
  line-height: 24px;
}

.footer {
  background-color: #b4b7ba;
  text-align: center;
  margin-top: 30px;
}

.footer_item {
  font-size: 28px;
  display: inline-block;
  padding: 20px 12px;
  cursor: pointer;
}

.footer_item:hover,
.footer_item:active {
  color: #3181a6;
  border-bottom: 1px solid #3181a6;
}

.copy {
  font-size: 24px;
  margin-left: 170px;
}